.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0;
}
.header__link:hover {
  opacity: 0.6;
}
